# Thư mục build và các file liên quan
build/
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.dylib
*.exe

# Tệp CMake tạm thời
cmake-build-debug
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Tệp log
*.log

# Tệp cấu hình IDE
.idea/
.vscode/
*.iml

# Tệp hệ điều hành
.DS_Store
Thumbs.db

# Tệp tạm thời của trình biên dịch
*.tmp
*.swp
*.swo
*~
